{% include header.html %}
<div class="main" style="height: 100%">
  <div class="ui equal height main grid">
    <div class="sixteen wide phone eight wide tablet twelve wide computer column hero lost">
      <div class="ui black vertical buttons right floated">
        <a href="{% link curriculum.html %}" class="ui button" tabindex="0">
          Curriculum
        </a>
        <a href="{% link projects.html %}" class="ui button" tabindex="1">
          Projects
        </a>
        <a href="{% link contact.html %}" class="ui button" tabindex="2">
          Contact
        </a>
      </div>
    </div>
    <div class="sixteen wide phone ten wide tablet four wide computer column">
      <div class="ui basic segment">
        {{content}}
      </div>
    </div>
  </div>
</div>
{% include footer.html %}
